:root {
    --theme-color:#EA580C;
    --theme-color2: #facc15;
    --title-color: #0f172a;
    --body-color:#555;
    --shadow-color: #ca8a04;
    --shadow-color2: #0f172a;
    --bg-orange: #fff7ed;   
    --bg-slate: #0f172a;
    --black: black;
    --white: white;
    --grey-color: #f6f6f6;
   
}









